.banner {
  height: 445px;
  background-size: cover;
}

.banner-text {
  margin-top: 280px;
}

.banner-text-1,
.banner-text-2 {
  max-width: max-content;
}

.banner-text-1 {
  background-color: #fff;
  font-size: 22px;
  padding: 10px 25px;
}

.banner-text-2 {
  background-color: #000;
  color: #fff;
  padding: 10px 25px;
}
