.posts {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post {
  margin-top: 40px;
  width: 200px
}

.post p{
  margin-top: 10px;
}

.posts img {
  padding: 10px;
  border: 1px solid #aaa;
  max-width: -webkit-fill-available;
}

.post-footer-date {
  color: #aaa;
}

.post-footer-date::after {
  content: " /";
}

.post-footer a::after {
  content: "...";
}
