.subscribe {
  margin-top: 20px;
  align-items: center;
  border-bottom: 1px dashed #e5e5e5;
  padding: 10px 0;
  border-top: 1px dashed #e5e5e5;
}

.subscribe-margin {
  margin: 0 15px;
}

.subscribe input{
  border: 1px solid #e5e5e5;
}

.subscribe input::placeholder{
  color: #e5e5e5;
}

.subscribe button {
  background: linear-gradient(180deg, #ffffff 0%, #aaaaaa 100%);
  border-radius: 1px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.subscribe button:active {
  background: #444;
  color: #fff;
}


.subscribe input,
.subscribe button {
  padding: 5px 15px;
}
