.tabs {
  flex-direction: row;
}

.tab {
  flex: 1;
}

.tab a {
  display: block;
  padding: 25px 20px;
  background-color: #eff8f7;
}

.tab p {
  font-size: 10px;
}

.tab a:hover {
  background-color: #d9efec;
}
