.community-icons {
  @include flex(row);

  & > :nth-child(n) {
    margin-right: 10px;
  }

  & > :last-child {
    margin-right: 0px;
  }

  &__link {
    display: block;
    width: 32px;
    height: 32px;
    background-size: cover;
    filter: opacity(0.1);
  }
}
