.community-icons > :nth-child(n) {
    margin-right: 10px;
  }
  
  .community-icons > :last-child {
    margin-right: 0px;
  }
  
  .community-icons__link {
    width: 32px;
    height: 32px;
    background-size: cover;
    filter: opacity(0.1);
  }
  