.sub {
  @include flex(row);
  margin-top: 20px;
  align-items: center;
  border-bottom: 1px dashed #e5e5e5;
  padding: 10px 0;
  border-top: 1px dashed #e5e5e5;
  background-position-x: 20px;
  background-position-y: center;

  & :nth-child(n) {
    margin-right: 20px;
  }

  & :first-child {
    margin-left: 60px;
  }

  &__input,
  &__btn {
    padding: 5px 15px;
  }

  &__input {
    border: 1px solid #e5e5e5;
  }

  &__input::placeholder {
    color: #e5e5e5;
  }

  &__btn {
    background: linear-gradient(180deg, #ffffff 0%, #aaaaaa 100%);
    border-radius: 1px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    @include ie{
      overflow: visible;
    }
  }

  &__btn:active {
    background: #444;
    color: #fff;
  }
}

@include media(768) {
  .sub {
    flex-wrap: wrap;
    background-position-y: 17%;

    &__desc {
      margin-bottom: 25px;
    }

    &__input {
      flex: 1;
      width: 100%;
      margin-left: 20px;
    }
  }
}
