@import "mixins/media-mixins";

.tabs__item {
  flex: 1;
}

.tabs__item-link {
  padding: 25px 20px;
  background-color: #eff8f7;
  &:hover {
    background-color: #d9efec;
  }
}

.tabs__item-desc {
  font-size: 10px;
}

@include _1176 {
  .tabs__item-link {
    padding: 10px 20px;
  }

  .tabs__item-header {
    font-weight: normal;
    text-align: center;
  }

  .tabs__item-desc {
    display: none;
  }
}

@include _768{
  .tabs{
    display: none;
  }
}