.tabs {
  @include flex(row);

  &__item {
    flex: 1;

    &-link {
      display: block;
      color: $primary-color;
      padding: 25px 20px;
      background-color: #eff8f7;
      &:hover {
        background-color: #d9efec;
      }
    }

    &-desc {
      font-size: 10px;
    }
  }
}

@include media(1176) {
  .tabs__item {
    &-link {
      padding: 10px 20px;
    }

    &-header {
      font-weight: normal;
      text-align: center;
    }

    &-desc {
      display: none;
    }
  }
}

@include media(768) {
  .tabs {
    display: none;
  }
}
