.tabs {
  @include flex(row);

  @include media($tablet) {
    display: none;
  }

  &__item {
    flex: 1;

    &-link {
      display: block;
      color: $primary-color;
      padding: 25px 20px;
      background-color: #eff8f7;
      &:hover {
        background-color: #d9efec;
      }

      @include media($desktop) {
        padding: 10px 20px;
      }
    }

    &-header {
      @include media($desktop) {
        font-weight: normal;
        text-align: center;
      }
    }

    &-desc {
      font-size: 10px;

      @include media($desktop) {
        display: none;
      }
    }
  }
}
