.aside {
  @include flex(column);
  flex: 1;
  margin-right: 40px;

  @include media($laptop) {
    flex-direction: row;
    margin: 0;
  }

  @include media($mobile) {
    flex-direction: column-reverse;
  }
}
