.aside {
  @include flex(column);
  flex: 1;
  margin-right: 40px;
}

@include media(992) {
  .aside {
    flex-direction: row;
    margin: 0;
  }
}

@include media(480) {
  .aside {
    flex-direction: column-reverse;
  }
}
