footer {
  @include flex(row);
  height: 90px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  border-top: 2px solid #e5e5e5;
  @include media($mobile) {
    margin: 0 5%;
  }
}
