@import "helpers/all-helpers";

body {
  font-family: Arial;
  font-size: 14px;
  width: 1088px;
  margin: 0 auto;

  @include media($desktop) {
    width: 992px;
  }
  @include media($laptop) {
    width: 100%;
  }
}

.all {
  @include flex(column);
  margin: 20px;

  @include media($mobile) {
    margin: 0;
  }
}

.container {
  @include flex(row);
  
  @include media($laptop) {
    flex-direction: column;
    @include ie {
      display: block;
    }
  }
}
